# arXiv论文爬取机器人环境变量配置，（需要在本地创建.env）
# wky注：因为有隐私信息，所以不push，这里只给出.env文件示例

# ======= 邮件配置 - 请替换为实际邮箱信息======= #
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password

# ======= 收件人邮箱（支持多个，用逗号分隔）======= #
RECIPIENT_EMAIL=recipient1@gmail.com,recipient2@163.com,recipient3@qq.com

# ======= AI API配置 - 用于高质量论文总结（可选）选择其中一个API，设置对应的API密钥 ======= #
OPENAI_API_KEY=your_claude_api_key
OPENAI_API_URL="https://api.openai.com/v1/chat/completions"
MODEL_TYPE=gpt-3.5-turbo
ENABLE_THINKING=false
USE_AI_SUMMARY=true  # 是否使用AI总结

# ======= 日志配置 ======= #
LOG_LEVEL=INFO
LOG_FILE=arxiv_robot.log
